---
streamId: "account-3434922/products"
urlFormat: "{{ .externalEntityId }}.html"
---

{{define "gotemplates.tmpl" -}}
<html>
    <body>
        <h1>{{.name}}</h1>
        <p>SKU: {{.sku}}</p>
        <p>Description:{{.richTextDescription}}</p>
        <div>
            <span>{{.size}}</span>
            <span>{{.price}}</span>
        </div>
    </body>
</html>
{{end}}
