---
{
    "streamId": "pages-location-stream",
    "urlFormat": "{{.slug}}"
}
---

{{define "location.tmpl" -}}
<html>
    <body>
        <h1>{{.name}}</h1>
        <p>Address: 
            {{ range $key, $value := .address }}
              <li><strong>{{ $key }}</strong>: {{ $value }}</li>
            {{ end }}
        </p>

        <p>Hours: 
            {{ range $key, $value := .hours }}
              <li><strong>{{ $key }}</strong>: {{ $value }}</li>
          {{ end }}
        </p>
    </body>
</html>
{{end}}
